body{
  font-family: verdana;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.submitMatchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}

.teamInput{
  font-size: 15px;
  text-align: center;
}

.goalsInput {
  width: 25px;
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.tableOrMatches{
  width: 500px;
}

.tableOrMatches--children{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match{
  display: flex;
  text-align: center;
  width: 180px;
}

.match span {
  width: 40%;
}

.match .matchGoals {
  width:20%;
}
.match span:first-child {
  text-align: right;
}

.match span:last-child {
  text-align: left;
}

.matchGoals {
  padding: 0px;
}
