.matchInput{
  width: 100%;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.away{
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
  }
}
