table {
    border-collapse: collapse;
}

tr.tableRow{
  padding: 5px;
  text-align: left;
}

tr.tableRow:nth-child(4){
  border-bottom: thin dotted;
  padding: 5px;
  text-align: left;
}

td {
  padding-bottom:10px;
  padding-right:15px;
}
